#title {
    background-color: rgb(117, 174, 240);
    color: white;
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
}

.home-image {
    height: 290px;
    width: 500px;
}

.recipe-image {
    height: 300px;
    width: 500px;
}