#title {
    background-color: rgb(117, 174, 240);
    color: white;
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 40px;
}

.home-image {
    height: 290px;
    width: 500px;
}

.recipe-image {
    height: 290px;
    width: 500px;
}

.recipes {
    font-size: 18px;
    font-family: Helvetica, Verdana, sans-serif;
}

h1, h2, p, li {
    font-family: Helvetica, Verdana, sans-serif;
}

h1, h2 {
    background-color: rgb(241, 132, 132);
    color: white;
}